
:root {
  --orange: #F95153;
  --blue: #0C0F30;
  --white: #fff;
  --square-w: 7.3vw;
  --square-h: 13vh;
  --gap-w: calc((var(--square-w) / 10) * 2);
  --gap-h:calc((var(--square-h) /10) * 2);
  --letter-w: 4.2vw;
  letter-spacing: 0.7px;
  overflow:hidden;
}

html{
  overflow:hidden;
  margin: 0;
  background-color: #0C0F30;
  font-family:"Inria Sans" ;
  cursor:cell;
}

/* ------------------------------------------------------- */

/* ---------nav bar--------------- */

nav {
  z-index: 4;
  color: var(--blue);
  position: fixed;
  z-index: 10;
}

img{
  z-index: 4;
  width: calc(var(--square-h) *0.7);
  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *0.47);
  left: calc(var(--square-w) * 0.7);
}

.nav_container2 .designing_section {
  z-index: 4;
  font-size: min(max(11px, 1.3vw), 22px);
  text-decoration-line:none;
  color: var(--white);
  height: fit-content;
  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *7);
  left: calc(var(--square-w) * 12.2);
}

.nav_container2 .sayhi_section {
  z-index: 4;
  font-size: min(max(11px, 1.3vw), 22px);
  text-decoration-line:none;
  color: var(--white);
  height: fit-content;
  position: absolute;
  margin-top: calc(var(--square-h) *0.5);
  left: calc(var(--square-w) * 12.5);
}

.nav_container2 .myself_section {
  z-index: 4;
  font-size: min(max(11px, 1.3vw), 22px);
  text-decoration-line:none;
  color: var(--white);
  height: fit-content;
  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *7);
  left: calc(var(--square-w) * 0.7);
}

.nav_container3 .fbook_section {
  z-index: 4;
  opacity: 40% ;
  transform: rotate(-90deg);
  font-size: min(max(11px, 1.3vw), 22px);
  text-decoration-line:none;
  color: var(--white);
  height: fit-content;
  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *3);
  left: calc(var(--square-w) * 12.8);
}

.nav_container3 .insta_section {
  z-index: 4;
  opacity: 40% ;
  transform: rotate(-90deg);
  font-size: min(max(11px, 1.3vw), 22px);
  text-decoration-line:none;
  color: var(--white);
  height: fit-content;
  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *4);
  left: calc(var(--square-w) * 12.81);
}

.nav_container3 .email_section{
  z-index: 4;
  opacity: 40% ;
  transform: rotate(-90deg);
  font-size: min(max(11px, 1.3vw), 22px);
  text-decoration-line:none;
  color: var(--white);
  height: fit-content;
  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *5);
  left: calc(var(--square-w) * 12.76);
}


/* ----------------------------------------- */

/* -------------- HOME SECTION------------- */


.instruction{
  font-size: min(max(14px, 1.2vw), 22px);
  color: var(--white);
  position: absolute;
  z-index: 1;

  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *1.9);
  left: calc(var(--square-w) * 1.3);
}


/* ----------------------------------------- */
.text {
  z-index: 4;
  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *3);
  left: calc(var(--square-w) *1.7);

  text-align: center;
  filter: url(#PORTFOLIO) ;

}
.text h1{
  z-index: 4;
  position: absolute;

  color: #ffffff;
  font-size: 15vw;
  text-shadow: 0 0 10px var(--orange),
  0 0 20px var(--orange);

}


/* ---------------------------------------------- */


.text2 {
  z-index: -1;
  position: absolute;
  margin-right: var(--square-w);
  margin-top: calc(var(--square-h) *-1);
  left: calc(var(--square-w) *-3);

  text-align: center;
  filter: url(#PORTFOLIO2) ;
}

.text2 h1{
  z-index: -1;
  position: absolute;
  color:#F95153;
  font-size: min(max(20px, 100vw), 50vw);
}

/* ---------------------------------------------- */
.cursor-dot{
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.cursor-outline{
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%);
}
.cursor-dot,.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}




  /* For mobile phones: */
  @media only screen and (max-width: 768px) {

    .nav_container2 .designing_section {
      font-size: min(max(11px, 1.3vw), 22px);
      text-decoration-line:none;
      color: var(--white);
      height: fit-content;
      position: absolute;
      margin-right: var(--square-w);
      margin-top: calc(var(--square-h) *7);
      left: calc(var(--square-w) * 11);
    }
    
    .nav_container2 .sayhi_section {
      font-size: min(max(11px, 1.3vw), 22px);
      text-decoration-line:none;
      color: var(--white);
      height: fit-content;
      position: absolute;
      margin-top: calc(var(--square-h) *7);
      left: calc(var(--square-w) * 6.5);
    }
    .nav_container3 .fbook_section {
      opacity: 0% ;
    }
    
    .nav_container3 .insta_section {
      opacity: 0%;
    }
    
    .nav_container3 .email_section{
      opacity: 0%;
    }

    .text2 h1{
      position: absolute;
        
      color:#F95153;
      font-size: 200vw;
    }
  }


